<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Ignite - login form</title>

    <link href="css/login.css" rel="stylesheet">

    <script src="js/prefixfree.min.js"></script>
    <script src="js/logBack.js"></script>

</head>

<body>

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Ignite<span>Join</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login"><br>
				<a href="/sign_up">
				<input type="button" value="Sign Up Here">
				<a>
		</div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

</body>

</html>